name: Auto PR - Pre-Stage to Stage

on:
  push:
    branches:
      - pre-stage

jobs:
  create_pr:
    name: Create PR from Pre-Stage to Stage
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup Node.js
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: 20.12.2

      - name: Run PR automation
        run: node scripts/pr-automation/index.cjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN || github.token }}
          GITHUB_REPOSITORY: ${{ github.repository }} 